.sidebar{
    min-height: calc(100vh - 80px);
    width: 250px;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 2px 4px 6px 1px rgba(174, 174, 174, 0.1);
}
.sidebar{
    min-height: calc(100vh - 75px);
    width: 250px;
    /* background: linear-gradient(90deg, #727c89, #3c444e); */
    background-color: #3f4c5c;
    background-color: rgb(42, 42, 42);
    background-color: #35393d;
    background-color: #b8bec6;
    background: linear-gradient(-90deg,#5d6b7d43, #b3c4df45);
    background: #d6dadf;
    background: #e1e5e9;
    background: #eaedef;
    background: #edf1f4;
    background: #f6f7f8;
    background: #ffffff;
    background: #f9f9fa;
    border: 1px solid #dbdbdb;
    padding-bottom: 20px;
    box-shadow: 2px 4px 6px 1px rgba(174, 174, 174, 0.1);
    border-radius: 0 5px 5px 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sidebar.hidden {
    display: none;
}
.toggle-menu-btn {
    display: flex;
    font-size: 2em;
    margin: 10px;
}
.sidebar-items {
    margin: 15px 0 10px 10px;
    font-size: 1.1em;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #30577b;
    /* color: #ffffff; */
}
.sidebar-items > span {
    margin-left: 7px;
    font-size: 0.8em;
}
.item-option {
    padding: 8px 0px 8px 35px;
    transition: all ease-in 150ms;
    margin: 5px 35px 0 35px;
    margin: 5px 15px 0 15px;
    border-radius: 5px 2px 2px 5px;
    border-radius: 5px;
    color: rgb(92, 92, 92);
    /* color: #eeeeee; */
    /* border: 1px solid transparent; */
    font-size: 0.8em;
    position: relative;
}
.item-option:hover {
    cursor: pointer;
    /* border: 1px solid #3f92e043; */
    background-color: #e5e9eb;
}
.marked {
    background-color: #eff9ff;
    background-color: #dde0e2 !important;
    /* border: 1px solid var(--clr-blue); */
    /* color: var(--clr-blue); */
    /* color: #3882c8; */
}
.marked:hover {
    /* background-color: #eff9ff; */
    /* border: 1px solid var(--clr-blue); */
}
.account-item > span {
    display: flex;
    flex-direction: column;
}
.account-logo {
    font-size: 2.5em;
}
.logout-item {
    list-style: none;
    transition: all ease-in 150ms;
    color: rgb(92, 92, 92);
    margin-top: 3px;
}
.logout-item > span {
    display: flex;
}
.logout {
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    color: rgb(112, 112, 112);
}
.logout-item:hover {
    cursor: pointer;
    color: #3882c8;
}
.logout-text {
    font-size: 0.7em;
}

.sidebar-hr:not(:first-child) {
    margin-top: 15px;
}
.sidebar-hr {
    border: 0;
    height: 1px;
    background-color: #dedede91;
    margin: auto;
    width: 85%;
}

@media (max-width: 749px) {
    .sidebar {
        position: absolute;
        width: 100%;
        top: 100px;
        z-index: 5;
        min-height: calc(100vh - 100px);
        display: none;
    }
    .sidebar.show-sidebar{
        display: block;
    }
}