.sidebar{
    min-height: calc(100vh - 80px);
    width: 250px;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 2px 4px 6px 1px rgba(174, 174, 174, 0.1);
}
.sidebar.hidden {
    display: none;
}
.toggle-menu-btn {
    display: flex;
    font-size: 2em;
    margin: 10px;
}
.sidebar-items {
    margin: 20px 0 10px 10px;
    font-size: 1.2em;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #30577b;
}
.sidebar-items > span {
    margin-left: 7px;
    font-size: 0.8em;
}
.item-option {
    padding: 8px 0px 8px 15px;
    transition: all ease-in 150ms;
    margin: 5px 0px 0 30px;
    border-radius: 5px 2px 2px 5px;
    color: rgb(92, 92, 92);
    border: 1px solid transparent;
    font-size: 0.9em;
    position: relative;
}
.item-option:hover {
    cursor: pointer;
    border: 1px solid #3f92e043;
}
.marked {
    background-color: #eff9ff;
    border: 1px solid var(--clr-blue);
    color: var(--clr-blue);
    color: #3882c8;
}
.marked:hover {
    background-color: #eff9ff;
    border: 1px solid var(--clr-blue);
}
.account-item > span {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.account-logo {
    /* background-color: #30577b; */
    font-size: 2.5em;
}
.logout-item {
    list-style: none;
    transition: all ease-in 150ms;
    color: rgb(92, 92, 92);
    margin-top: 3px;
}
.logout-item > span {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-start;
}
.logout {
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    color: rgb(112, 112, 112);
}
.logout-item:hover {
    cursor: pointer;
    color: #3882c8;
    /* border: 1px solid #3f92e043; */
}
.logout-text {
    font-size: 0.7em;
}

.sidebar-hr:not(:first-child) {
    margin-top: 15px;
}
.sidebar-hr {
    border: 0;
    height: 1px;
    background-color: #dedede91;
}

@media (max-width: 749px) {
    .sidebar {
        position: absolute;
        width: 100%;
        top: 100px;
        z-index: 5;
        min-height: calc(100vh - 100px);
        display: none;
    }
    .sidebar.show-sidebar{
        display: block;
    }
}