.body-container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 30px;
    padding: 0 30px 30px;
    /* background-color: #ffffff; */
    /* border: 1px solid #dbdbdb; */
    /* box-shadow: var(--shd-v4); */
    border-radius: 0.3rem;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}
/* .search-form {
    margin-top: 70px;
} */
.form-consulta {
    margin-top: 25px;
    width: 100%;
}
.inputs {
    margin-top: 50px;
    box-shadow: 0px 0px 8px 1px rgba(100, 100, 100, 0.1);
    border-radius: 8px;
}
.form-input {
    font-size: 0.8em;
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px 0 0 8px;
    outline: none;
    border: 1px solid #dcdcdc;
    /* background: linear-gradient(#ffffff, #e6e9ee); */
    /* background: linear-gradient(#ffffff, #e5e6e8); */
    background-color: #ecedf0;
    background-color: #fbfbfc;
    transition: background-color ease-in 150ms,
                border ease-in 150ms;
}
.form-input:focus {
    /* background-color: #eff9ff; */
    border: 1px solid var(--clr-blue);
}
.form-input:nth-of-type(even) {
    border-radius: 0.8em;
}

.right-form-input > input {
    border-radius: 0 !important;
}
.left-form-input > input {
    border-radius: 8px 0 0 8px !important;
}
.grid-inputs {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    grid-template-columns: 1fr 100px;
}
.grid-inputs-even {
    grid-template-columns: 1fr 1fr 100px;
    column-gap: 0;
    grid-template-areas: 
        /* "lab1 inp1 inp2 btn1" */
        "inp1 inp2 btn1"
    ;
}
.vertical-grid-inputs {
    grid-template-columns: 1fr;
}
.form-label {
    grid-area: lab1;
    font-size: 0.8em;
    margin: auto;
    margin-right: 10px;
}
.input-left {
    grid-area: inp1;
}
.input-right {
    grid-area: inp2;
}
.btn-left-right {
    grid-area: btn1;
}
/* creo que esto no sirve, por los grid-template-areas, me 'parece' si que no es de los form */
.grid-inputs > .input > input:nth-of-type(even) {
    margin-left: 0;
    text-align: center;
}
.blue-btn {
    font-size: 0.9em;
    padding: 9px 18px;
    border-radius: 0.2rem;
    border: 0;
    background-color: var(--clr-blue);
    background: linear-gradient(rgb(141, 194, 255), var(--clr-blue));
    color: white;
}
.blue-btn:active {
    background-color: var(--clr-blue2);
    box-shadow: var(--shd-v2);
    box-shadow: inset 0px 0px 5px 3px rgba(41, 83, 146, 0.4);
}
.desktop-blue-btn {
    border-radius: 0 8px 8px 0;
}
.get-m2-text {
    margin-bottom: 10px;
}
.titulo-consulta {
    color: #656565;
    border-bottom: 1px solid #d6d9dc92;
    padding: 12px;
    width: 100%;
    /* position: absolute; */
    text-align: center;
    top: 0;
    left: 0;
}
.input {
    position: relative;
}
.hint {
    position: absolute;
    font-size: 0.8em;
    color: var(--clr-dark-gray);
    left: 2%;
    top: -40%;
}
.text-center {
    text-align: center;
}

/* list ================================================================ ============================= ============================ ========================== ========================*/
.form {
    width: 100%;
}
.bug-placeholder {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #c4c4c4;
    /* background-color: red; */
}
.bug {
    font-size: 2em;
    transform: rotate(45deg);
}
/* table { */
    /* border-collapse: collapse;
    font-size: 0.8em;
    text-align: center;
    width: 418px;
    max-width: 95%;
    margin: 20px 10px 0 10px;
    border: 0.1px solid #ededed; */
    /* border-top: 0; */
    /* table-layout: fixed; */
/* } */

.faded-text {
    color: #e0dfdf;
}
/* 
    de aqui saque todo el list-container, etc...
*/
.warning {
    font-size: 0.75em;
    color: #b4b4b4;
    margin-top: 20px;
    text-align: center;
}
.marg-top-warning {
    margin: 25px 0;
}
.popup-crud-btns-container {
    display: flex;
    gap: 6px;
    justify-content: end;
    padding-right: 40px;
    padding-bottom: 10px;
    padding: 0 20px 10px 10px;
    /* background-color: red; */
}
.popup-crud-btn {
    background-color: transparent;
    /* border: 1px solid #bfbfbf; */
    border: 0;
    border-radius: 3px;
    display: flex;
    width: fit-content;
    font-size: 1rem;
    padding: 2px;
}
.vertical-separation {
    background-color: #cecece;
    height: inherit;
    width: 1px;
}
.crud-actions-section {
    /* background-color: red; */
    display: flex;
    flex-wrap: nowrap;
}
.crud-actions-section > .warning {
    margin: auto;
    margin-left: auto;
    /* background-color: #3d4f74; */
    height: fit-content;
    padding-bottom: 10px;
}
.crud-btns-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
}
.crud-btn {
    font-size: 0.9em;
    padding: 9px 18px;
    border-radius: 0.2rem;
    border: 0;
    background-color: var(--clr-blue);
    margin-top: 10px;
}
.delete, .edit {
    /* background-color: #e8962c; */
    background: linear-gradient(#ffca84, #e8962c);
    color: white;
}
.delete {
    /* background-color: #de5e2f; */
    background: linear-gradient(#ffa685, #de5e2f);
}
.delete:active, .edit:active {
    box-shadow: var(--shd-btn);
}
/* quitar si no se va a usar .disabled-crud-btn ========================================================================================================= */
.disabled-crud-btn {
    cursor: not-allowed;
}
.save, .cancel {
    margin-top: 25px;
}
.save {
    background-color: var(--clr-blue);
    background: linear-gradient(rgb(141, 194, 255), var(--clr-blue));
    color: white;
}
.cancel {
    background-color: var(--clr-gray2);
    background: linear-gradient(rgb(247, 247, 247), var(--clr-gray2));
}
.save:active {
    box-shadow: inset 0px 0px 5px 3px rgba(41, 83, 146, 0.4);
}
.cancel:active {
    box-shadow: var(--shd-btn);
}

/* donwload ============================================================ */

.download-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 10px;
    cursor: pointer;
}
.download-img {
    margin-top: 30px ;
    font-size: 4em;
    color: var(--clr-blue);
}
.download-text {
    margin-top: 5px;
}

/* logs container ============================================ */

.logs-container {
    display: flex;
    flex-direction: column;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
  
@media (max-width: 749px) {
    .body-container {
        width: 500px;
        /* margin-top: 60px; */
        margin-top: 35px;
    }

    .form-input {
        border-radius: 0.2rem;
    }

    .grid-inputs {
        display: grid;
        column-gap: 5px;
        row-gap: 5px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
    }

    .grid-inputs-even {
        column-gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "inp1 inp2"
            "btn1 btn1"
        ;
    }
}