.body-container {
    width: 500px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 30px;
    padding: 0 30px 30px;
    background-color: #ffffff;
    box-shadow: var(--shd-v4);
    border-radius: 0.8rem;
    border-radius: 0.3rem;
    position: relative;
    overflow: hidden;
    /* border: 1px solid #b8bcc1b8; */
}
.form-consulta {
    margin-top: 25px;
    width: 100%;
}
.inputs {
    margin-top: 50px;
}
.inputs > .input > {
    width: inherit;
}
.inputs > .input > input {
    font-size: 0.9em;
    width: 100%;
    padding: 10px 10px;
    border-radius: 0.2rem;
    outline: none;
    background: none;
    border: 1px solid var(--clr-gray2);
    transition: background-color ease-in 150ms,
                border ease-in 150ms;
}
.inputs > .input > input:focus {
    background-color: #eff9ff;
    border: 1px solid var(--clr-blue);
}
.inputs > .input > input:nth-of-type(even) {
    margin-left: 8px;
}
.inputs > .input > input::-webkit-outer-spin-button,
.inputs > .input > input::-webkit-inner-spin-button {
    appearance: none;
    scroll-behavior: none;
}
.grid-inputs {
    display: grid;
    grid-template-columns: auto;
    column-gap: 5px;
}
.grid-inputs-even {
    grid-template-columns: auto auto;
}
.grid-inputs-full {
    grid-template-columns: 1fr;
}
.grid-inputs > .input > input:nth-of-type(even) {
    margin-left: 0;
    text-align: center;
}
.form-consulta > button {
    font-size: 0.9em;
    padding: 9px 18px;
    border-radius: 0.2rem;
    border: 0;
    background-color: var(--clr-blue);
    margin-top: -100%;
    color: white;
    width: 100%;
}
.form-consulta > button:active {
    background-color: var(--clr-blue2);
    box-shadow: var(--shd-v2);
}
.titulo-consulta {
    color: #878787;
    background-color: #d3d5d92c;
    border-bottom: 1px solid #d6d9dc92;
    padding: 12px;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
}
.input {
    position: relative;
}
.hint {
    position: absolute;
    font-size: 0.8em;
    color: var(--clr-dark-gray);
    left: 2%;
    top: -40%;
}
.text-center {
    text-align: center;
}

/* list ================================================================ */
.form {
    width: 100%;
}
table {
    border-collapse: collapse;
    font-size: 0.8em;
    text-align: center;
    width: 418px;
    max-width: 95%;
    margin: 20px 10px 0 10px;
    border: 0.1px solid #d3d3d3;
}
th {
    white-space: nowrap;
}
td, th {
    padding: 10px 10px;
    text-align: left;
}

tr {
    display: grid;
    grid-template-columns: 10.5em auto;
}
tr:nth-of-type(even) {
    background-color: #f5f5f5;
}
tr:not(:last-child) {
    border-bottom: 0.1px solid #d3d3d3;
}

.titulo-resultado {
    text-align: center;
    color: #919191;    
    /* padding: 11px; */
    padding: 0 10px;
    border-radius: 50px;
    white-space: nowrap;
}
/* .new-record {
    
} */
.list-items-btns {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    margin: auto;
    background-color: rgba(209, 212, 213, 0.485);
    padding: 3px;
    border-radius: 50px;
    margin-top: 20px;
}
.list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    /* padding: 8px; */
    width: 40px;
    height: 40px;
    font-size: 1.25em;
    position: relative;
    background-color: #ffffff;
    color: var(--clr-blue2);
    border-radius: 50%;
}
/* .btn-left {
}
.btn-right {
    
} */

/* insert list ========================================================= */
.insert-list-container {
    width: 100%;
}
.insert-table-body > tr {
    grid-template-columns: 8.5em auto;
}
.text-right {
    text-align: right;
}
.insert-list-input-row {
    padding: 5px 5px;
    max-width: 100%;
    display: block;
}
.insert-list-input {
    width: 100%;
    border: 0;
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(222, 222, 222);
}
.faded-text {
    color: #e0dfdf;
}

.warning {
    font-size: 0.75em;
    color: #919191;
    margin-top: 20px;
    text-align: center;
}
.marg-top-warning {
    margin: 70px 0 25px 0;
}
.crud-btns-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.crud-btn {
    font-size: 0.9em;
    padding: 9px 18px;
    border-radius: 0.2rem;
    border: 0;
    background-color: var(--clr-blue);
    margin-top: 10px;
}
.crud-btn:not(:first-child) {
    margin-left: 10px;
}
.delete, .edit {
    background-color: #ee9016;
    color: white;
}
.delete {
    background-color: #ee4f16;
}
/* quitar si no se va a usar .disabled-crud-btn ========================================================================================================= */
.disabled-crud-btn {
    cursor: not-allowed;
}
.save, .cancel {
    margin-top: 25px;
}
.save {
    background-color: var(--clr-blue);
    color: white;
}
.cancel {
    background-color: var(--clr-gray2);
}

/* donwload ============================================================ */

.download-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 10px;
    cursor: pointer;
}
.download-img {
    margin-top: 30px ;
    font-size: 4em;
    color: var(--clr-blue);
}
.download-text {
    margin-top: 5px;
}