.body {
    display: grid;
    grid-template-columns: 250px auto;
    z-index: 5;
    min-height: calc(100vh - 100px);
    position: relative;
}
/* body ===================================================================== */
/* cambiar esto en modo mobile */
@media (max-width: 749px) {
    .body {
        display: block;
        top: -25px;
    }
    .show-sidebar {
        display: block;
        grid-template-columns: auto;
        z-index: 5;
        min-height: calc(100vh - 100px);
        height: calc(100% + 80px);
        top: -25px;
    }
}