/* header ============================================================== */
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: #42454b;
    padding: 0 20px;
    /* max-width: 600px; */
    margin: auto;
    background-color: white;
    /* background-color: rgb(41, 63, 88); */
    /* z-index: 1; */
}
.nav-links {
    display: flex;
}
.link {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 0.8em;
    position: relative;
}
.link-item {
    text-decoration: none;
    color: #133274;
    transition: all ease-in-out 250ms;
}
.link-item:not(.logout)::after {
    content: "";
    position: absolute;
    background-color: var(--clr-blue);
    height: 2px;
    width: 0%;
    left: 50%;
    bottom: 30px;
    transition: all ease-in-out 250ms;
}
.marked-link-item {
    text-decoration: none;
    color: #2362d8;
    transition: all ease-in-out 250ms;
}
.link-item.marked-link-item::after {
    content: "";
    position: absolute;
    background-color: var(--clr-blue);
    height: 2px;
    width: 70%;
    left: 15%;
    bottom: 30px;
    transition: all ease-in-out 250ms;
}

.logo {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.logo-img {
    width: 30px;
    margin-right: 10px;
}
.nav-links {
    position: relative;
    right: 0;
}

.toogle-menu-btn {
    font-size: 1.2em;
    background-color: rgba(154, 165, 173, 0.164);
    display: flex;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    color: rgb(112, 112, 112);
    transition: background-color ease-in 150ms,
                color ease-in 150ms;
}
.toogle-menu-btn:active {
    background-color: var(--clr-blue);
    /* color: white; */
}