/* header ============================================================== */
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    color: #42454b;
    padding: 0 20px;
    /* max-width: 600px; */
    margin: auto;
    background-color: rgb(248, 248, 248);
    background-color: rgb(251, 251, 251);
    /* background: linear-gradient(#ffffff, #b8bec6); */
    background-color: #3e4043;
    background: #5d6b7d;
    background: #d6dadf;
    background: #e1e5e9;
    background: #eaedef;
    background: #edf1f4;
    background: #f6f7f8;
    background: #ffffff;
    background: #f9f9fa;
    /* background: linear-gradient(#a7cafb, #394a60);
    background: linear-gradient(#727c89, #3c444e); */
    /* border-bottom: 2px solid #91a1b87e; */
    /* background-color: #195a97; */
    box-shadow: var(--shd-v3);
    box-shadow: var(--shd-v4);
    position: relative;
    z-index: 2;
}
.nav-links {
    display: flex;
}
.link {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 0.7em;
    position: relative;
}
.link-item {
    text-decoration: none;
    color: #133274;
    transition: width ease-in-out 250ms,
                left ease-in-out 250ms;
}
.link-item:not(.logout)::after {
    content: "";
    position: absolute;
    background-color: var(--clr-blue);
    height: 2px;
    width: 0%;
    left: 50%;
    bottom: 20px;
    transition: width ease-in-out 250ms,
                left ease-in-out 250ms;
}
.marked-link-item {
    text-decoration: none;
    color: #2362d8;
    transition: width ease-in-out 250ms,
                left ease-in-out 250ms;
}
.link-item.marked-link-item::after {
    content: "";
    position: absolute;
    background-color: var(--clr-blue);
    height: 2px;
    width: 70%;
    left: 15%;
    bottom: 20px;
    transition: width ease-in-out 250ms,
                left ease-in-out 250ms;
}

.logo {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.logo-img {
    width: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.logo-title {
    font-size: 0.85em;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
    word-spacing: 0.1em;
    letter-spacing: -0.05em;
    color: #5a5b5e;
}
.nav-links {
    position: relative;
    right: 0;
}

.toogle-menu-btn {
    font-size: 1.2em;
    background-color: rgba(154, 165, 173, 0.164);
    display: flex;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    color: rgb(112, 112, 112);
    transition: background-color ease-in 150ms,
                color ease-in 150ms;
}

@media (max-width: 749px) and (min-width: 501px) {
    .link-item::after {
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .link-item::after {
        margin-bottom: 6px;
    }
}